# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://uyuruyazu.github.io
date_format: "ordinal"
title: やづうゆるの部落格
subtitle: "柑橘味气息的肥宅"
description: "一个肥宅的个人博客"
keywords: uyuruyazu, やづうゆるの部落格, 肥宅, 柑橘味
timezone: Asia/Hangzhou
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: やづうゆる
organization: uyuruyazu.github.io
organization_url: https://uyuruyazu.github.io
github_username: uyuruyazu
location: Hangzhou, China
email: koryelu@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

#   -
#     href: /archives/
#     label: 归档

  -
    href: /wiki/
    label: 维基

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 8
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

repository: uyuruyazu/uyuruyazu.github.io

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: 
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: uyuruyazu
    repo: uyuruyazu.github.io
    oauth:
        client_id: 4a0189fe392d62e96a55
        client_secret: fde993bd15a7e4836571f659dfb57dbc483ce424
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: uyuruyazu
    repo: uyuruyazu.github.io
    clientID: 4a0189fe392d62e96a55
    clientSecret: fde993bd15a7e4836571f659dfb57dbc483ce424
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-119926058-1
